<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388924989761-iisj4r0kte5qmvq1uq7p3te38a7abopa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388924989761-iisj4r0kte5qmvq1uq7p3te38a7abopa</string>
	<key>API_KEY</key>
	<string>AIzaSyCTGSatxDWvQN4JLfjmmH1Gk82YA9xzDlk</string>
	<key>GCM_SENDER_ID</key>
	<string>388924989761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nirneu.FindCar</string>
	<key>PROJECT_ID</key>
	<string>findcar-2f22b</string>
	<key>STORAGE_BUCKET</key>
	<string>findcar-2f22b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388924989761:ios:2e7585bffde0fae6cf01c0</string>
</dict>
</plist>